@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background: green;
    font-family: 'pixelify sans', sans-serif;
    color: white;
}

#titulo {
    text-align: center;
    padding-top: 100px;
    font-size: 100px;
}

#creditos {
    text-align: center;
    padding-top: 300px;
    font-size: 40px;
}

.play {
    text-align: center;
    margin-top: 40px;
}

#play {
    color: white;
    font-family: 'pixelify sans', sans-serif;
    font-size: 50px;
    width: 200px;
    height: 100px;
    background-color: red;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

#play:hover {
    background-color: rgb(194, 23, 23);
    color: rgb(211, 211, 211);
}

#play-again {
    color: white;
    font-family: 'pixelify sans', sans-serif;
    font-size: 50px;
    width: 450px;
    height: 100px;
    background-color: red;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 0 20px;
    transition: background 0.2s, color 0.2s;
}

.play-btn {
    color: white;
    font-family: 'pixelify sans', sans-serif;
    font-size: 50px;
    width: 450px;
    height: 100px;
    background-color: red;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 0 20px;
    transition: background 0.2s, color 0.2s;
}

.play-btn:hover {
    background-color: rgb(194, 23, 23);
    color: rgb(211, 211, 211);
}

.coin, .bomb {
    position: absolute;
    cursor: pointer;
    animation: shake 1s infinite;
}

.coin img {
    width: 120px;
    height: 120px;
}

.bomb img {
    width: 160px;
    height: 160px;
}

#game-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
    overflow: hidden;
    border: none;
}

#time {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 50px;
    font-family: 'pixelify sans', sans-serif;
    z-index: 10;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 50px;
    font-family: 'pixelify sans', sans-serif;
    z-index: 10;
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg);}
    20% { transform: translate(-5px, 0) rotate(-5deg);}
    40% { transform: translate(5px, 0) rotate(5deg);}
    60% { transform: translate(-5px, 0) rotate(-5deg);}
    80% { transform: translate(5px, 0) rotate(5deg);}
    100% { transform: translate(0, 0) rotate(0deg);}
}